﻿@using PuhdasApp.ViewModels
@model UserDetailViewModel

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <img class="img-fluid" src="@Model.ProfileImageUrl" width="50%" height="50" alt="Image">
            </div>
            <div class="col-md-4">
                <h6 class="my-3">@Model.FirstName, @Model.LastName</h6>
                <h3 class="my-3">Customer Details</h3>
                <ul>
                    <li>Email Address: <b>@Model.Email</b></li>
                    <li>Phone Number: <b>@Model.PhoneNumber</b></li>
                    @if(Model.City != null && Model.State != null)
                    {
                        <li>Location: <b>@Model.City, @Model.State</b></li>
                    }
                    else
                    {
                        <li>Location: </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>